asgiref==3.5.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
Django==2.2.24
django-bootstrap4==22.1
Pillow==9.2.0
psycopg2==2.9.3
pytz==2022.2.1
soupsieve==2.3.2.post1
sqlparse==0.4.2
whitenoise==6.2.0
