{% extends 'base.html' %}
{%block content%}
<div style="background:url('https://cdn.pixabay.com/photo/2019/12/13/09/46/umbrella-4692572_960_720.jpg'); height: 70vh; background-size: cover; background-position: center;">
    <div class="container">
        <div class="row mx-lg-n5">
          <div class="col py-3 px-lg-5  bg-white">
            <h4>Welcome to my world</h4>
            <h2>Hi there, I'm Sarah Kamunya a passionate Software Developer, based in Nairobi,Kenya!</h2>
            
          </div>
            
          </div>
          <div class="col py-3 px-lg-5 ">
            <img class="image-fluid" src="{% static 'images/girl.png'%}" style="width:100%; padding-top:30px; padding-left:none;" >
          </div>
        </div>
      </div> 

</div>

{% endblock %}