{% extends 'base.html' %}
{%block content%}
{%load static%}
<div style="background:url('https://c1.wallpaperflare.com/preview/811/367/789/technology-computer-creative-design.jpg'); height: 70vh; background-size: cover; background-position: center;">
  
      <div class="container">
            <div class="row mx-lg-n5">
            <div class="col py-3 px-lg-5  ">
                <h4><b>Welcome to my world!</b></h4>

                <p>Hi there, I'm Sarah Kamunya a passionate Software Developer,<br>
                     <span id= "place">based in Nairobi,Kenya!</span></p>

                
            </div>
            <div class="col py-3 px-lg-5">
                
            </div>
            </div>
        </div>

        <!--<div class="container-fluid">
            
            <div class="row mx-lg-n5">
             
              <div class="col py-3 px-lg-5  bg-dark" >
                <h3 class="about ms-auto">About me</h3>
                
                <p class="words" style="padding-top:40px;">Lorem Ipsum is 
                  simply dummy text of the printing and typesetting industry.
                   Lorem Ipsum has been the industry's standard dummy text ever since t
                   he 1500s, when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book. It has survived not only five centuries,
                     but also the leap into electronic t
                  ypesetting, remaining essentially unchanged. </p>

              </div>
              <div class="col py-3 px-lg-5  bg-dark">
                <img class="image-fluid" src="{% static 'images/me.jpg'%}" style="width:60%; padding-top:60px; padding-left:none;" >
              </div>
            </div>-->
          </div>
            <div class="container" style="margin-top:70px;">
              <div class="row">
                <div class="col">
                  <img class="image-fluid" src="{% static 'images/mee.jpg'%}" style="width:90%;">
                </div>
                <div class="col" style= "padding-left:0;">
                  <h1>About me</h1>
                  <p class="words" style=" padding-top:10px;">Lorem Ipsum is 
                    simply dummy text of the printing and typesetting industry.
                     Lorem Ipsum has been the industry's standard dummy text ever since t
                     he 1500s, when an unknown printer took a galley of type and scrambled
                      it to make a type specimen book. It has survived not only five centuries,
                       but also the leap into electronic t
                    ypesetting, remaining essentially unchanged. </p>
                    <button type="button" class="button">Read More</button>
                   <!-- <a href="#" class="button">Read More</a>-->
                    
                </div>
                
              </div>
            </div>

            
    

<style>
   
    h4{
        font-size:30px;
        margin-top:100px;
        font-weight:bold;
        color:#fff;
    }
    h1{
      color:#fff;
      font-weight:bold;
      font-size: 70px;
    }
 
    p{
        font-weight:bold;
        color:#fff;
        font-size: 20px;
        line-height: 1.7;
    } 

    #place{
       line-height:4.6;
       font-size: 17px;

    }
    h3{
        color:#fff;
        font-weight:bold;
        font-size:40px;
    }
    .button{
      font-size: 20px;
      text-decoration: none;
      color: #fff;
      border: #c93112 2px solid;
      padding: 10px 20px;
      border-radius: 10px;
      margin: 2.5rem;
      text-transform: uppercase;
      background:#000 ;
      
  }
  
  .button:hover{
      background-color:#c93112;
      color:#fff;
  }
  



  
  </style>
{% endblock %}